Basics of Python

In [2]:
# Variables: Are named containers for storing the data 
a=3

Data types: 
1. Numbers - int,float,complex
2. Strings = Seq of characters enclosed within quotes are called strings
    ''  - normal string 
    " "  - normal string 
    '''  '''  = strings with multiline feature 
Strings are enclosed within quotes to differentiate strings from variables so we keep in quotes
3. Boolean - True/false

Operators

Used to perform a particular task

1. Assignment operator : 

Assigns value on the right hand side to left side variable

In [6]:
a=10
name='Python'
print(a)
print(name)

10
Python

2. Arithmetic operator :

Performs mathematical functions

In [9]:
#addition
a=3+7 
print(a)

#subtraction
b=7-3
print(b)

#multiplication
c=3*7
print(c)

#division 
d= 10/5
print(d)

#floor division 
e=10//5
print(e)

#reminder
f=20%5
print(f)

#exponent
g= 5**4
print(g)

10
4
21
2.0
2
0
625

3. Relational operator 

Checks mazthematical functions btw 2 values

They return boolean values

In [11]:
#equals operator
1==1

True

In [12]:
#not equals operator 
3!=3

False

In [14]:
7>5

True

In [16]:
7<6

False

In [17]:
8>=7

True

In [18]:
6<=5

False

4. Logical operator 

Joins 2 or more conditions 

They are  and,or,not

The operator returns True if all conditions are correct otherwise False

In [19]:
2==3 and 4==4

False

In [20]:
5>7 or 7>=3

True

In [22]:
8>=6 or 4!=4

True

In [23]:
not True

False

In [24]:
not False

True

Here they are case sensitive.

So they should always start with capital letters like T or F and not t or f

what happens if we type it in lowercase, let's see

In [26]:
not true
#so there is a error because of the name.

NameError: name 'true' is not defined

5. Identity operator 

The identity operator - is 

This not only checks the equality btw 2 values but also their data types and stored address too

In [27]:
500== 1000.00

False

In [29]:
500 is 500.00

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
/tmp/ipykernel_78/4200327300.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  500 is 500.00

False

6. Memebership operator 

Checks whether a particular element is in a collection or not

In [32]:
'J' in 'Java'

True

In [33]:
'p' in 'docker;'

False

7. Bitwise Operator 

Works on binary digits of a number

In [34]:
#right shift- shifts number digits towards right by n steps 
8>>2

2

In [35]:
#left shift - shifts number digits towards left by n steps
6<<3

48

In [39]:
#Seperation 
#It is used to sperpeate words or any numbers 

#It is done by using the simple (commma  ,)

print(1,'python','best')

#it can also be seperated by using this seperation symbol 
print(1,'py','best',sep='^^')

#we can also use other symbols like
print(1,'py','best',sep='$$')

# we can also end a statment by using end attribute 
print(1,'Keshav',end='^')

1 python best
1^^py^^best
1$$py$$best
1 Keshav^

Input :
     It is used to take input from the user 
     
     It is done by using input() function 
     
     First, it takes input from the user using the above functiom 
     
     Let's see some demo now 
     
     input() takes input in str format as it is the default format 
     
     If we are expecting for a different type, then we must use convertors, that concept is called EXPLICIT TYPE CASTING

In [40]:
a= input("Enter your age")

Enter your age 20

In [41]:
name=input('please enter your name')
food=input('please enter your fav food')
print('name is',name)
print('food is',food)

please enter your name Keshav
please enter your fav food Pizza

name is Keshav
food is Pizza

In [44]:
#EXPLICIT TYPE CASTING 
age=int(input("enter your age"))
print('Your age is',age)

enter your age 20

Your age is 20

LOOPING STATEMENTS

There are 3 types of conditions : 

(i) if 

(ii) else 

(iii) elif 

Now let us learn if and else using a practical program

In [45]:
age=int(input('enter your age'))
if age>=18:
    print('you are eligible for drivers license') 
else:
    print('you are not eligible')

enter your age 20

you are eligible for drivers license

In [46]:
#elif: if there are multiple conditions , then we can use elif conditions 
a=int(input('enter number1'))
b=int(input('enter number2'))
if a==b:
    print('both are equal')
elif a>b:
    print('a is greater than b')
else:
    print('b is greater')

enter number1 25
enter number2 15

a is greater than b

In [49]:
#for: it goes one by one. it is useful when we have to count a numbner range from start to stop or when we have to display the memebers of a collection 
for i in 'python':
    print('i am',i)

i am p
i am y
i am t
i am h
i am o
i am n

In [52]:
#range: returns int from 1 point to another point 
for k in range(2,5):
    print(k)

2
3
4

In [53]:
for k in range(2,10,3):
    print(k)

2
5
8

In [55]:
#while loop: it repeats condition until a certain condition is satisfied
i=5
while i<10:
    print(i)
    i=i+2
#now loop continues until the condition is satisified. it starts with 5 , goes to looping part and gets increased 2 every time loop gets printed . It runs until it gets number less than 10 
#the while loop will end will only end if entered number is either the random number or 0

5
7
9

In [60]:
#jump statements:
#It is basically break and continue
#it is a keyword which stops the execution of a loop and throws the flow out of the loop 
i=4
while i!=7:
    if i==7:
        break
    print(i)
    i=i+1
    print('end')

4
end
5
end
6
end

In [61]:
i=0
while i!=9:
    i=i+1
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

**SLICING CONCEPTS**

Slicing: 

    Start: if we dont mention , then it becomes 0 
    
    Stop : if not mentioned, then it becomes length of the collection(len(collection))
    
    Stop : if we don't mention stop , then it becomes 0

In [63]:
#Strings: strings are immutable i.e cannot be removed or replaced 
    #Indexing:
a='keshav'
print(a[2])

s

In [64]:
print(a[-5])

e

In [65]:
#slicing of strings 
#it starts with variable[start_index:stop_index]
a='keshav'
print(a[3]+a[5])

hv

In [67]:
#with steps:
#variable[start_index:stop_index:steps]
a='keshav'
print(a[2:len(a):3])

#now with negative index
print(a[0:4:-2])

sv

In [68]:
# we can also take input from the user and reverse it , like: 
a=input('enter your name')
print(a[: : -2])

enter your name keshav

vhe

In [74]:
#let us take the example of the pallindrome program:
a=input('enter the word')
rev_word=a[: :-1]

if a==rev_word:
    print('it is palindrome')
else:
    print('not a palindrome')

enter the word tamil

not a palindrome

**COLLECTIONS**

Collections:

There are 4 types of collections:

1. List

2. Tuple

3. Set

4. Dictionary

In [1]:
#1. List - 
    #It is created by square brackets
    # it is mutable 
a=[2,3,5,7,9,'keshav']
print(a)
print(a[2])
print(a[-2])
print(a[0:2])

[2, 3, 5, 7, 9, 'keshav']
5
9
[2, 3]

In [2]:
#2. Tuple:
#Is created by round brackets ()
#Is immutable
k=(1,3,5,'k')
print(k)
print(k[3])
print(k[-3])
print(k[0:3])

(1, 3, 5, 'k')
k
3
(1, 3, 5)

In [3]:
#Set
#by curly brackets
#sets are mutable
d=set('keshav')
print(d)
#as set is an unordered list , so slicing cant happen 
#even if we do slicing, we will get only type error

{'h', 'k', 'v', 'e', 's', 'a'}

If we want to convert mutable to immutable sets, then we can use frozenset() method

we can use frozenset on: copy, difference,intersection,isdisjoint,issuperset,issubset etc

In [4]:
a=(1,2,3)
f=frozenset(a)
print(a)

(1, 2, 3)

In [5]:
#Dictionary
#is a key:value pair collection
#createdd by {} symbol
#{'Key':'Pair'} are called items
#key shou;d be an immutable value and a value can have any data type
#it cannot have 2 items with same key i.e duplicate values are not allowed 
#dictionaries are unordered, mutable
dict={'a':4,'b':8,'c':12}
print(dict['b'])

8

**FUNCTIONS:**

Functions :

Used to divide codes into smaller parts which performs a particular function,is known an functional programming. 

Smaller parts are known as Functions

Functions are created using def keyword

show() is used to call a function

return() used to end the execution of a functionand returns flow to the location where it was called with a value.

If there is no return in the function, we get none

In [42]:
def show():
    print('Python')
show()

Python

In [45]:
def func():
    return 'value'
a=func()
print(a)

value

In [46]:
#lAMBDA FUNCTION:
#Anonymous or one line function is created with the help of the lambda keyword
f=lambda x: x**2
print(f(2))
print(f(10))

4
100

In [47]:
f=lambda x,y: x*y
print(f(2,4))
print(f(35,9))

8
315

In [196]:
#Error handling 
#Types of error:
#1. Syntax error: Typing misktakes made by user 
print 'keshav'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (449205740.py, line 4)

In [197]:
#2.indentation error:
        print('keshav')
    #the extra space is said to be the main problem of indentation error

IndentationError: unexpected indent (991465341.py, line 2)

In [198]:
#3.Runtime error: 
print(mango)

NameError: name 'mango' is not defined

Like this there are different types of error like key error,indexerror,type error etc

Types of handling error:

    1. try
    
    2. except
    
    3. finally

In [199]:
try:
    print('python')
except:
    print('exception')

python

File Handling

There are different types of file handling systems 

'r' -> read data

        file=open('data.csv','r')

        print(f.read())

'w' -> write data

        file = open('data.csv','w')

'a' -> add data

        file= open('data.csv','a')


'X' -> create new file

        file=open('data.csv','X')


'a+' -> read and write from file simultaneously

        file=open('data.csv','a+')



We can close the file using close()

        file.close()

**Object oriented Programming (OOP's concept)**

It is a process of implementing coding in terms of object. An object is a representation of a real life entity compromising state,behaviour 


and properties 

**Abstraction:**

It is a process of hiding the unnecessary details and showing importance ones only is known as abstraction 


It is achieved using encapsulation

**Encapsulation:**

Wrapping up of data  into a single unit is known as encapsulation 

**Inheritence:**

Process of getting the properties from the pre-built source to a new source is known as inheritence

**Polymorphism:**

It is a process of exisiting in multiple forms is known as polymorphism 

**Creating an object**

(i)Class is an object factory


(ii)Object is created by its class name 


(iii)class is a keyword that is used to create a class

(iv) We give user input values through _init_()

In [4]:
class abc:
    b=5
obj1=abc()
print(obj1.b)

5

In [24]:
class employee:
    
    def _init_(self,ename,eage):
        self.name = ename
        self.age = eage
    
    def display(self):
        print(self.name,self.age)

In [38]:
#let us now create a class of bike and store the objects value of 3 bikes in a list 
class bike:
    
    def _init_(self,cmod,col):
        self.model = mod
        self.color = col
    
    def bill(self):
        print('model:',self.model)
        print('color:',self.color)

list_of_bikes = []

for i in range(0,3):
        m = input('enter the model of the bike:')
        c = input('enter the color of the bike:')
        obj = bike()
        list_of_bikes.append(obj)

enter the model of the bike: splendor
enter the color of the bike: black
enter the model of the bike: scooty
enter the color of the bike: pink
enter the model of the bike: bullet himalayas
enter the color of the bike: blue

                                             THE END
 
 
 **Note:**
 
 
 **(i)So I have now covered the concepts from  python basics to intermediate.**
 
 
 **(ii)You can use this material to revise your python concepts**
 
 
 **(iii)Will add more materials soon i.e coding part of python (from basics till GUI and some libraries of python like numpy,pandas 
 and some visualization libraries)**